@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.active {
  opacity: 1 !important;
}

.book {
  display: flex;
  border: 1px solid #e8e8ee;
  justify-content: space-between;
  padding: 2.5rem;
  flex-direction: column;
  margin: 1rem 0;
}

.btn {
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 3px;
  height: 58px;
  min-width: 100px;
  color: white;
  margin-left: 1%;
  cursor: pointer;
}

.btn_book {
  background: none;
  border: none;
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  cursor: pointer;
}

p {
  color: #4386bf;
}

li {
  border: 1px solid #e8e8ee;
  padding: 2.5rem;
  margin: 2rem 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #121212;
  opacity: 0.5;
  margin: 0;
}

.category_p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #121212;
  opacity: 0.5;
  margin: 0;
}

.title {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  color: #4386bf;
}

.author {
  font-family: 'Roboto Slab', serif;
  color: #4386bf;
  margin: 0;
}

.category {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #121212;
  opacity: 0.5;
  margin: 0;
}

.input {
  border: 1px solid #bbb;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  margin: 0 1rem 0 0;
  width: 30%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  box-shadow: -1px 2px 0 -1px #e8e8e8;
  font-family: 'Montserrat', sans-serif;
}

.titleAndLinks {
  display: flex;
  align-items: center;
}

.navTitle {
  color: #0290ff;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  margin: 20px 0;
}

.navLink {
  text-decoration: none;
  color: #121212;
  opacity: 0.5;
}

.navList {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navIcon {
  color: #0290ff;
  font-size: 1.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.navItem {
  border: 1px solid #e8e8ee;
  padding: 0.5rem;
  list-style: none;
}

.progressChart {
  width: 111px;
  font-family: 'Montserrat', sans-serif;
}

.complete-graph {
  display: flex;
  gap: 1rem;
}

.oval {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #379cf6;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.complete-percent {
  display: flex;
  flex-direction: column;
}

.percentage {
  color: black;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.completed {
  color: rgb(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

.current-chapter {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: rgb(10, 10, 10, 0.4);
}

.chapter-name {
  color: rgb(10, 10, 10, 0.8);
  font-family: Arial, Helvetica, sans-serif;
}

.chapter-btn {
  background-color: #0290ff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1.35rem;
}

.allBtn {
  display: flex;
}
